.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
*.class
android/local.properties
android/.gradle/
android/gradle-wrapper.jar
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
.DS_Store
